<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesuite.admin.dao.mapper.AppSecretEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jeesuite.admin.dao.entity.AppSecretEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="env" property="env" jdbcType="VARCHAR" />
    <result column="secret_type" property="secretType" jdbcType="CHAR" />
    <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
    <result column="secret_pass" property="secretPass" jdbcType="VARCHAR" />
  </resultMap>
</mapper>