<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesuite.admin.dao.mapper.UserPermissionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jeesuite.admin.dao.entity.UserPermissionEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="env" property="env" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="operate" property="operate" jdbcType="CHAR" />
  </resultMap>
  
  <select id="findByQueryParams" resultMap="BaseResultMap" parameterType="map">
      SELECT * FROM user_permissions where user_id=#{userId}
      <if test="env != null">  AND env = #{env}</if> 
      <if test="appId != null">  AND app_id = #{appId}</if> 
      <if test="operate != null">  AND operate = #{operate}</if> 
  </select>
  
</mapper>