<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeesuite.admin.dao.mapper.UserPermissionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.jeesuite.admin.dao.entity.UserPermissionEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="grant_type" property="grantType" jdbcType="CHAR" />
    <result column="grant_target" property="grantTarget" jdbcType="VARCHAR" />
    <result column="grant_operate" property="grantOperate" jdbcType="CHAR" />
  </resultMap>
</mapper>